.warpContent-header {
  position: sticky;
  top: 0;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02);

  .left {
    width: 256px;
    border-right: 1px solid #e8e8e8;

    .imgStyle {
      position: absolute;
      left: -2px;
      top: -13px;
      width: 98px;
    }

    .title {
      font-size: 25px;
      margin-left: 101px;
      padding-top: 19px;
    }
  }

  .right {
    padding: 24px;
    display: flex;
    // width: 100px;

    .tabItem {
      cursor: pointer;
      width: 80px;
    }

    .tabItem:hover {
      width: 80px;
      color: #0958d9;
    }

    .gitImg {
      width: 32px;
      height: 32px;
      margin-top: -4px;
    }
  }
}
